ACCOUNT_NUMBERS="YOUR_ACCOUNTNUMBER_ONE_HERE,YOUR_ACCOUNTNUMBER_TWO_HERE,YOUR_ACCOUNTNUMBER_THREE_HERE"
BARCODES="YOUR_BARCODE_ONE_HERE,YOUR_BARCODE_TWO_HERE,YOUR_BARCODE_THREE_HERE"

HANDLE_PAYMENT=True
FULLY_AUTOMATED=False
MULTI_THREADING=True/False. Run multithreading.
# You can also add an env variable like 'bank2' to use a seperate bank to pay for a seperate account.
PAYMENT_METHOD=`bank:BANK` or `credit:CREDIT_CARD,bank:BANK' or (create another env variable holding same as bank, name it bank2) 'bank:BANK,bank:BANK2,debit:DEBIT_CARD'

PAYOR_INFO = '{"FirstName": "Fake","LastName": "Name","HouseNumber": "220","Street": "Fake Address","City": "Atlanta","State": "Georgia","Zip": "30301","Email": "fake_email@gmail.com","Phone": "9087653849"}'

BANK = '{"Type": "Checking","Routing": "041215663","Account": "75478206529","Banker": "FAKEBANK","Holder": "FAKE NAME"}'
CREDIT_CARD = '{"number": "4111111111111111","expirationMonth": "02","expirationYear": "2023","ccv": "123","cardholder": "Dumb Dumb"}'
DEBIT_CARD = '{"number": "4111111111111111","expirationMonth": "02","expirationYear": "2023","ccv": "123","cardholder": "Dumb Dumb"}'